@page "/airline"
@using blazortest.Data
@using Syncfusion.Blazor.Grids


<h1>Airline</h1>

<button class="btn btn-primary" @onclick="addAircraft">Click me</button>
<Aircraft/>

@code {

    private void addAircraft()
    {
        
    }
    
    
}